<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".txt" #>
<#@ import namespace="T4FileGenerator.Helpers.Models" #>

<#
    for(int i = 0; i < 10; i++)
    {
        GenerateInsertStatement();
    }    
#>

<#+ 
    void GenerateInsertStatement()
    {
        // Generate random data for a Person using RandomDataGenerator
        var randomName = RandomDataGenerator.GetRandomName();
        var randomAge = new Random().Next(18, 100); // Random age between 18 and 100
        
        // Create a new Person object
        var person = new Person(randomName, randomAge);
        // Generate SQL Insert statement to insert into dbo.Person table
        StringBuilder sql = new StringBuilder();
        sql.AppendLine("INSERT INTO dbo.Person (Name, Age) VALUES (");
        sql.AppendLine($"'{person.Name}',");
        sql.AppendLine($"{person.Age});");
        // Output the SQL statement
        WriteLine(sql.ToString());
    }
#>